.columna{
    width: 50%;
    padding: .625em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.columna .contacto {
    border-right: 1px solid #ddd;
}

.datos {
    float: right;
}

.datos p {
    font-size: .8em;
}

.datos ul li {
    font-size: .8em;
}

.formulario label {
    display: inline-block;
    vertical-align: top;
    width: 25%;
}

.formulario input , .formulario textarea {
    background-color: #ddd;
    border-radius: 5px;
    border: 1px solid #999;
    font-size:  .8em;
    padding: .4em .6em;
    width: 90%;
}

.formulario textarea {
    resize: none; 
    height: 18em;
}

.formulario .acciones {
    text-align: center;
}

.formulario input[type="submit"] { 
    background: #ffd700;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); 
    left: 5rem;
    color: white; 
    font-size: 1em;
    padding: .4em .2em;
    text-align: center;
    width: auto;
}

.formulariopiola {
    display: flex;
    justify-content: center;
}