.flex-container {
    display: flex;
    width: 75%;
    margin: auto;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    justify-content: space-between;
}

.flex-child {
    width: 250px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.flex-child:first-child {
    background-color: red;
}

.flex-child:nth-child(2) {
    background-color: blue;
}

.flex-child:last-child {
    background-color: green;
}