.flex-container {
    display: flex;
    width: 45%;
    margin: auto;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    border-width: 3px;
    border-style: solid;
    border-color: #000;
}

.flex-child {
    width: 250px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}

.flex-child:first-child {
    background-color: #FF0000;
}

.flex-child:nth-child(2) {
    background-color: #00F;
}

.flex-child:last-child {
    background-color: #008000;
}