div {
    width: 70%;
    height: 60%;
    background-color: #fff8dc;
    margin: auto;
    margin-top: 20%;
    text-align: center;
}

.contador p {
    display: inline-block;
    vertical-align: top;
}