<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form method="get" action="/value">
    <input type="text" placeholder="peticion que cambia dependiendo el valor" name="value">
    <input type="submit">
</form>