footer{
    background-color: #00ffff;
    clear: both;
    color: #333;
    padding: 3rem 0;
    margin-top: 2em;
}

footer p {
    font-size: 0.7em;
    font-style: italic;
    text-align: center;
    margin: 0;
}