header {
    background-color: #daa520; 
    padding: 1rem 0;
}

header h1 {
    color: white;
    font-size: 2.5em;
    font-weight: 100;
    font-style: italic;
    display: inline-block;
    position: relative;
    bottom: .8em;
    margin: 0;
}