nav{
    background-color: #ffd700; 
    margin-bottom: 2em;
}

nav ul {
    margin: 0;
    list-style: none; 
    padding: 0; 
}

nav ul li{ 
    display: inline-block;
    width: 16.3%;
}

nav ul li a{
    color: white;
    text-decoration: none; 
    padding: .2em .4em;
    display: block;
    text-align: center;
    position: relative;
}

nav ul li a:hover{
    background-color: rgba(0,0,0,0.3);
}

nav ul li a.activo{
    background-color: rgb(204, 177, 26);
}

.navPiola {
    display: flex;
    justify-content: center;
}